:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --section-bg: rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.App {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.outerLayer {
  height: 100vh;
  width: 100%;
  background-color: var(--section-bg);
}
.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.section {
  border-radius: 0.4rem;
  width: 100%;
  padding: 1rem;
  color: white;
}
.section_inputCon,
.section_temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}
.section_inputCon > input {
  padding: 8px 14px;
  font-size: 1rem;
  border-radius: 5px;
  background: transparent;
  border: 0.7px solid white;
  max-width: 300px;
  font-weight: 500;
  color: white;
}
.section_inputCon > input:focus {
  outline: none;
}
.section_inputCon > button {
  font-size: 1rem;
  border-radius: 8px;
  padding: 8px 40px;
  text-align: center;
  background: transparent;
  border: 0.7px solid white;

  color: white;
}

.section_inputCon > button:hover {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}
.section_temperature .tempIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.section_temperature .tempIcon img {
  width: 4rem;
  height: 4rem;
  margin: 7px;
}
.section_temperature .tempIcon h3 {
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
}
.temperature h3 {
  font-size: 3rem;
}
